<h3>Welcome <%= session[:player_name] %> to Blackjack!</h3>
<h5>By <a href="https://github.com/streetrader/bjsinatraw3">NPL</a></h5>
<br>

<ul>
Dealer's cards:
	<% session[:dealer_cards].each do |card| %>
		<li><%= card.to_s %></li>

	<% end %>

	<br>

	Player's cards:
	<% session[:player_cards].each do |card| %>
		<li><%= card.to_s %></li>

	<% end %>

</ul>

<p>
  What would you like to do?

<%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>

<% if @show_hit_or_stay_buttons %>

<form action="/game/player/hit" method='post'>
	<input type="submit" class="btn" value="Hit"/>

	</form> 

<form action="/game/player/stay" method='post'>
	<input type="submit" class="btn" value="Stay"/>

	</form>
<%end%>
</p>